/*
    Color variable file used in the project
*/
.btn {
  width: 100%;
  height: 40px;
  border-radius: 9px;
  border: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  background-color: #b6b6b6;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease;
  outline: none;
}
.btn:hover {
  opacity: 0.9;
}
.btn.loading {
  position: relative;
}
.btn.loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #b6b6b6;
  background-image: url(../../images/loader.gif);
}
.btn--primary {
  background-color: #0b903d;
}
.btn--primary.loading::before {
  background-color: #0b903d;
}
.btn--secondary {
  color: #fff;
  background-color: #171c33;
}
.btn--secondary.loading::before {
  background-color: #171c33;
}
.btn[disabled] {
  cursor: not-allowed;
}
