@import "variables";
@import "mixins";

.transactions {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: $secondary;
    margin-bottom: 20px;

    @include respond-to("tablet") {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    max-height: calc(100vh - 249px);

    @include respond-to("tablet") {
      max-height: calc(100vh - 222px);
    }

    &__item {
      &.MuiButtonBase-root {
        cursor: default;
        background-color: #fff;

        &:hover {
          background-color: #fff;
        }
      }

      &:first-child {
        border-bottom: 0;
      }

      .MuiListItemText-primary {
        font-weight: bold;
      }

      &--buy {
        .material-icons {
          color: $msg-error;
        }
      }

      &--sell {
        .material-icons {
          color: $primary;
        }
      }

      &--exchange {
        .material-icons {
          color: $link-color;
        }
      }
    }
  }

  .item-text {
    text-align: right;
    line-height: 1.3;
  }
}

.empty-msg {
  color: $light-gray-1;
  font-size: 14px;
  text-align: center;
}